@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.cta {
    position: relative;
    overflow: hidden;
    background: #2b637f;
    color: #fff;
    padding: 2rem 0;

    @media (min-width: 701px) {
        background: #31708e;
        padding: 3.75rem 0;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        padding: 3rem 0;
    }

    &__container {
        padding-left: 1rem;
        padding-right: 1rem;

        @media (min-width: 701px) {
            padding-left: 0.9375rem;
            padding-right: 0.9375rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: none;
        gap: 0.5rem;

        @media (min-width: 701px) {
            max-width: 50rem;
            margin: 0 auto;
            gap: 0;
        }
    }

    &__title {
        @media (min-width: 701px) {
            margin-bottom: 0.9375rem;
        }
    }

    &__description {
        color: #d7d7d7;
        font-size: 1rem;
        line-height: 1.45;
        letter-spacing: 0.03em;
        text-align: center;
        margin: 0 0 0.25rem;

    }

    &__btns {
        margin-top: 2rem;
        display: flex;
        width: 100%;
        gap: 0.5rem;
        justify-content: center;

        flex-direction: column;

        @media (min-width: $md4) {
            align-items: center;
            flex-direction: row;
            width: auto;
            gap: 1.25rem;
        }
    }

    &__btn {


        &.btn-outline-white {
            border-color: #6796ac;
        }

        @media (min-width: 701px) {


            &.btn-outline-white {
                border-color: rgba(255, 255, 255, 0.4);
            }
        }


    }
}