@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.price-formation {
    padding: 3.5rem 0;

    // .price-formation__hint
    &__hint {}

    // .price-formation__title
    &__title {}

    // .price-formation__subtitle
    &__subtitle {}

    // .price-formation__list
    &__list {
        display: grid;

        gap: rem(20);
        margin-top: rem(40);

        @media (min-width:$md4) {
            margin-top: rem(50);
            grid-template-columns: repeat(2, 1fr);

        }

        @media (min-width:$md3) {
            gap: rem(30);
        }

        @media (min-width:$md2) {
            margin-top: rem(74);
            grid-template-columns: repeat(3, 1fr);

        }
    }

    // .price-formation__card
    &__card {
        background: #fff;
        box-shadow: 0rem 0.375rem 1.5rem rgba(0, 0, 0, 0.1);
        border: 1px solid #DDE6F0;
        border-radius: 1.25rem;
        padding: 1.5rem 1.5rem 2.5rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        counter-increment: num;
        display: flex;
        align-items: flex-start;
        gap: 1rem;

        &::after {
            content: attr(data-number);
            color: rgba(193, 213, 222, 0.52);
            font-size: 10.625rem;
            font-weight: 900;
            line-height: 0.8;
        }

        @media (min-width:$md3) {
            padding: 2.5rem;
        }

        &:hover {
            transform: translateY(-0.3125rem);
            box-shadow: 0rem 0.75rem 1.875rem rgba(0, 0, 0, 0.12);
        }
    }

    // .price-formation__card-content
    &__card-content {
        position: relative;

        gap: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    // .price-formation__card-icon
    &__card-icon {
        width: 3.625rem;
        height: 3.625rem;
        background: #f5f8fa;
        border: 0.0625rem solid #d6e4ec;
        border-radius: 0.625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    // .price-formation__card-title
    &__card-title {

        font-weight: 700;
        font-size: 1.0625rem;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    // .price-formation__card-desc
    &__card-desc {
        font-size: 1rem;
        line-height: 1.4;
        letter-spacing: 0.03em;
        color: #4b5d68;

        &:is(a) {
            transition: color 0.3s ease;

            @media (any-hover: hover) {
                &:hover {
                    color: $accent;
                }
            }
        }
    }
}

.price-list {
    background: #fff;
    padding: rem(50) 0;

    @media (min-width:$md4) {
        padding: rem(100) 0;
    }

    // .price-list__hint
    &__hint {}

    // .price-list__title
    &__title {}

    // .price-list__subtitle
    &__subtitle {}

    // .price-list__content
    &__content {
        margin-top: 4.25rem;
        display: flex;
        align-items: flex-start;
        gap: 5.62rem;
    }

    // .price-list__tabs
    &__tabs {
        flex: 0 0 rem(358);
        display: flex;
        flex-direction: column;
        gap: rem(15);
        text-align: left;
        position: sticky;
        top: rem(100);
    }

    // .price-list__tab
    &__tab {
        display: flex;
        text-align: left;
        align-items: center;
        gap: rem(15);
        padding: 1.25rem;
        border-radius: 1.25rem;
        background: #FFF;
        box-shadow: 0 rem(4) rem(14) 0 rgba(0, 0, 0, 0.06);
        transition: all 0.3s ease;
        border: rem(1) solid #fff;

        &.is-active {
            border: rem(1) solid #D1E5F3;
            background: #EAF3F8;
            box-shadow: 0 rem(4) rem(14) 0 #EAF3F8;

            .price-list__tab-icon {
                background: #31708e;
                color: #fff;
            }

            .price-list__tab-title {
                color: #467E9E;
            }

            .price-list__tab-subtitle {
                color: #31708E;
            }
        }
    }

    // .price-list__tab-icon
    &__tab-icon {
        border-radius: 0.625rem;
        border: rem(1) solid #E6EEF1;
        background: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.625rem;
        width: 2.9375rem;
        height: 2.9375rem;
        flex-shrink: 0;
        color: #6E9FBB;
    }

    // .price-list__tab-info
    &__tab-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    // .price-list__tab-title
    &__tab-title {
        font-size: 1.25rem;
        font-weight: 700;
    }

    // .price-list__tab-subtitle
    &__tab-subtitle {
        margin-top: 0.31rem;
        color: #4B5D68;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0.03rem;
    }

    // .price-list__main
    &__main {
        flex: 1 1 auto;
    }

    // .price-list__header
    &__header {
        display: flex;
        align-items: center;
        padding-bottom: 1.19rem;
        margin-bottom: 1.19rem;
        border-bottom: rem(1) solid #DDE6F0;
    }

    // .price-list__header-info
    &__header-info {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }

    // .price-list__header-icon
    &__header-icon {
        display: flex;
        width: 3.9375rem;
        height: 3.9375rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 0.625rem;
        border: rem(1) solid #E6EEF1;
        background: #31708E;
        color: #fff;
    }

    // .price-list__header-content
    &__header-content {
        flex: 1 1 auto;
    }

    // .price-list__header-title
    &__header-title {
        color: #467E9E;

        font-size: 1.875rem;
        font-weight: 700;
    }

    // .price-list__header-tags
    &__header-tags {
        margin-top: 0.31rem;
        color: #31708E;
        font-size: 1.125rem;
        font-weight: 300;
        letter-spacing: 0.03375rem;
    }

    // .price-list__link
    &__link {
        color: #467E9E;
        font-size: 1.4375rem;
        font-weight: 700;
    }
}