@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";


.heading {
    background: #F7F9FB;
    padding: 1rem 0 2rem;

    // .heading__container
    &__container {
        display: grid;
        gap: 2rem;

        @media (min-width:$md3) {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
    }

    // .heading__offer
    &__offer {
        @media (min-width:$md3) {
            &:first-child:last-child {
                grid-column: span 2;
            }

        }
    }

    // .heading__stats
    &__stats {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 0.875rem;
        margin-bottom: 1rem;
        column-gap: 2rem;

        @media (min-width:$md4) {
            column-gap: 3rem;

        }
    }

    // .heading__stat
    &__stat {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &::before {
            color: $accent;
            font-size: 1.25rem;
            align-content: center;
        }
    }

    // .heading__title
    &__title {
        @media (max-width:$md5) {
            hyphens: auto;
        }
    }

    // .heading__subtitle
    &__subtitle {}

    // .heading__btns
    &__btns {
        margin-top: rem(15);
        display: flex;
        flex-wrap: wrap;
        gap: rem(15);
    }

    // .heading__btn
    &__btn {}

    // .heading__image
    &__image {
        display: block;

        & img {
            aspect-ratio: 5 / 3;
            border-radius: 1.25rem;
            box-shadow: 0 rem(6) rem(24) 0 rgba(0, 0, 0, 0.06);
        }
    }

    // .heading__images
    &__images {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        align-self: center;

        &.heading__images--grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;

            .heading__images-block {
                width: 100%;
                position: relative;
            }
        }
    }

    // .heading__images-block
    &__images-block {
        aspect-ratio: 3/4;
        border-radius: 1.25rem;
        overflow: hidden;
        box-shadow: 0 rem(4) rem(24) 0 rgba(0, 0, 0, 0.27);
        position: relative;
        z-index: 1;
        width: 33.33%;

        @media (min-width:$md3) {
            width: 12rem;

        }

        @media (min-width:$md2) {
            width: 16.3125rem;

        }
    }

    // .heading__images-left
    &__images-left {
        margin-top: 1.5rem;
        margin-right: -10%;

        @media (min-width:$md3) {
            margin-right: -2.5rem;

        }

        @media (min-width:$md2) {
            margin-top: 2rem;
            margin-right: -4rem;

        }
    }

    // .heading__images-center
    &__images-center {
        z-index: 2;
        width: 50%;

        @media (min-width:$md3) {
            width: 16.3125rem;

        }

        @media (min-width:$md2) {
            width: 21.375rem;

        }
    }

    // .heading__images-right
    &__images-right {
        margin-top: 3rem;
        margin-left: -15%;

        @media (min-width:$md3) {
            margin-left: -5rem;
        }

        @media (min-width:$md2) {
            margin-left: -6rem;
            margin-top: 4.94rem;


        }
    }
}

.catalog {
    padding: rem(50) 0 rem(100);
    background: #fff;

    // .catalog__hint
    &__hint {}

    // .catalog__title
    &__title {}

    // .catalog__subtitle
    &__subtitle {}


    // .catalog__filters
    &__filters {
        margin-top: 1rem;
    }

    // .catalog__grid
    &__grid {
        display: grid;

        gap: rem(16);
        margin-top: 3rem;

        @media (min-width:$md4) {
            margin-top: 5rem;
            gap: rem(30);
            grid-template-columns: repeat(2, 1fr);

        }

        @media (min-width:$md3) {
            grid-template-columns: repeat(3, 1fr);

        }
    }


    // .catalog__support
    &__support {
        margin-top: rem(30);
        display: grid;

        @media (min-width:$md3) {
            grid-template-columns: repeat(2, 1fr);

        }
    }

    // .catalog__support-card
    &__support-card {
        display: flex;
        border-radius: 1.25rem;
        background: #FFF;
        padding: rem(30);
        box-shadow: 0 rem(6) rem(24) 0 rgba(0, 0, 0, 0.06);
        gap: 1rem;
        flex-direction: column;

        @media (min-width:$md4) {
            flex-direction: row;
        }

        &.catalog__support-card--blue {
            background: linear-gradient(150deg, #306E8C 3.77%, #1F4B62 153.22%);
            color: #fff;

            .catalog__support-desc {
                color: #D7D7D7;
            }
        }
    }

    // .catalog__support-main
    &__support-main {
        flex: 1 1 auto;
    }

    // .catalog__support-caption
    &__support-caption {
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: 0.0375rem;
    }

    // .catalog__support-desc
    &__support-desc {
        margin-top: rem(10);
        color: #4B5D68;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0.03rem;
    }

    // .catalog__support-btns
    &__support-btns {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(10);
    }

    // .catalog__support-btn
    &__support-btn {}


    // .catalog__card
    &__card {
        display: flex;
        flex-direction: column;
        border-radius: 1.25rem;
        background: #FFF;
        box-shadow: 0 rem(6) rem(24) 0 rgba(0, 0, 0, 0.06);
    }

    // .catalog__card-image
    &__card-image {
        border-radius: 1.25rem 1.25rem 0 0;
        overflow: hidden;
        height: 0;
        width: 100%;
        position: relative;
        padding-bottom: #{math.div(275, 447) * 100%};
        background: linear-gradient(90deg,
                rgba(70, 126, 158, 0.1) 25%,
                rgba(70, 126, 158, 0.2) 50%,
                rgba(70, 126, 158, 0.1) 75%);
        background-size: 200% 100%;
        animation: shimmer 2s infinite linear;

        &.is-ready {
            animation: none;
            background: #EAF3F8;
        }

        & img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    // .catalog__card-content
    &__card-content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: rem(30);
        gap: rem(10);
    }

    // .catalog__card-title
    &__card-title {
        font-family: $fontfamily;
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: 0.0375rem;
        transition: color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                color: $accent;
            }
        }
    }

    // .catalog__card-description
    &__card-description {
        color: #4B5D68;
        font-size: 1rem;
        letter-spacing: 0.03rem;
        padding-bottom: 0.5rem;
    }




    // .catalog__empty
    &__empty {
        background: #f7f9fb;
        border-radius: 1.25rem;
        padding: 1.875rem;
        box-shadow: 0 .375rem 1.5rem 0 rgba(0, 0, 0, .06);

        @media (min-width:$md4) {
            grid-column: span 2;
        }

        @media (min-width:$md3) {
            grid-column: span 3;
        }
    }

    // .catalog__empty-title
    &__empty-title {}

    // .catalog__empty-text
    &__empty-text {}

    // .catalog__card-services
    &__card-services {
        display: flex;
        flex-wrap: wrap;
        gap: rem(10);

    }


    // .catalog__card-footer
    &__card-footer {
        border-top: rem(1) solid #DDE6F0;
        margin-top: auto;
        padding-top: 2.2rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 1rem;
    }

    // .catalog__card-service
    &__card-service {
        color: #467E9E;
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: 0.0225rem;
        padding: 0.375rem 1.25rem;
        border-radius: 0.75rem;
        background: #EAF3F8;
        transition: background-color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                background-color: color.adjust($color: #EAF3F8, $lightness: -10%);
            }
        }
    }

    // .catalog__card-price
    &__card-price {
        font-size: 1.5rem;
        font-weight: 700;
        color: $accent;
    }

    // .catalog__card-btn
    &__card-btn {
        flex-shrink: 0;
    }
}

.work {
    background: #fff;
    padding: rem(50) 0;


    // .work__hint
    &__hint {}

    // .work__title
    &__title {
        .color-accent {
            white-space: nowrap;
        }
    }

    // .work__subtitle
    &__subtitle {
        &.subtitle {
            max-width: 100%;
        }
    }

    // .work__list
    &__list {
        margin-top: 3.125rem;
        display: grid;
        max-width: 58rem;
        gap: 2rem;
        row-gap: rem(15);

        @media (min-width:$md4) {
            grid-template-columns: repeat(2, 1fr);

        }
    }

    // .work__item
    &__item {
        border-radius: 0.625rem;
        border: rem(1) solid #DDE6F0;
        display: flex;
        align-items: center;
        gap: 0.625rem;
        font-size: 1rem;
        padding: 0.625rem 1.5rem;

        @media (min-width:$md4) {
            padding: 0.625rem 2rem;

        }

        &::before {
            color: #467E9E;

            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: rem(24);
            width: rem(24);
            height: rem(24);

            @media (min-width:$md4) {
                font-size: rem(34);
                width: rem(34);
                height: rem(34);
            }
        }
    }
}

.price {
    background: #fff;
    padding: rem(50) 0;

    @media (min-width:$md4) {
        padding: rem(100) 0;
    }

    &.price--blue {
        background: #f7f9fb;
    }

    // .price__hint
    &__hint {}

    // .price__title
    &__title {}

    // .price__table-wrapper
    &__table-wrapper {}

    // .price__table
    &__table {}

    // .price__value
    &__value {
        font-weight: 700;
        color: #2A7F8A;

    }

    // .price__comment
    &__comment {
        font-weight: 500;

        @media (min-width:$md4) {
            color: #4B5D68;
            max-width: 18.1875rem;

        }
    }
}