@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?l1m5xi');
  src:  url('fonts/icons.eot?l1m5xi#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?l1m5xi') format('truetype'),
    url('fonts/icons.woff?l1m5xi') format('woff'),
    url('fonts/icons.svg?l1m5xi#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e90f";
}
.icon-arrows:before {
  content: "\e90e";
}
.icon-zoom:before {
  content: "\e90d";
}
.icon-envelope-fill:before {
  content: "\e907";
}
.icon-location:before {
  content: "\e908";
}
.icon-max:before {
  content: "\e909";
}
.icon-phone-fill:before {
  content: "\e90a";
}
.icon-telegram:before {
  content: "\e90b";
}
.icon-vk:before {
  content: "\e90c";
}
.icon-check-circle:before {
  content: "\e906";
}
.icon-clock:before {
  content: "\e903";
}
.icon-size:before {
  content: "\e904";
}
.icon-team:before {
  content: "\e905";
}
.icon-envelope:before {
  content: "\e902";
}
.icon-chevron-down:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
