@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";
@use "ui";



html {
	scrollbar-gutter: stable;
}

* {
	scroll-margin-top: 10rem;
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	background: $bg;
	color: $dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.menu-lock {
		@media (max-width: $md3) {
			overflow: hidden;

			// .wrapper {

			// 	&::before {
			// 		opacity: 1;
			// 		visibility: visible;
			// 		pointer-events: all;
			// 	}
			// }
		}
	}
}

// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: clip;

	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: rgba(23, 37, 51, 0.38);
	// 	opacity: 0;
	// 	visibility: hidden;
	// 	pointer-events: none;
	// 	transition: opacity 0.3s ease, visibility 0.3s ease;
	// 	z-index: 2;
	// }

}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1rem;

	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
		padding: 0 1.25rem;
	}

	@media (min-width: $md4) {
		max-width: rem(720);
	}

	@media (min-width: $md3) {
		max-width: rem(960);
	}

	@media (min-width: $md2) {
		max-width: rem(1140);
	}

	@media (min-width:$md1) {
		max-width: rem(1400);
	}
}

//=============== ОСНОВНАЯ СЕТКА===============================

// =======================ОСНОВНОЙ БЛОК==================
.main {
	position: relative;
	z-index: $ui-index-1;
	flex: 1 1 auto;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;


}

// ========================================================


.typography-block {
	font-size: 1.125rem;
	line-height: 1.55;

	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 116.667%;
		font-family: $font-unbounded;
		font-weight: 600;
	}

	h1 {
		margin-top: 0;

		margin-bottom: 2.4rem;
		@extend .title-lg;
	}

	h2 {
		margin: 2.5rem 0 1.25rem;
		@extend .title;

		&:first-child {
			margin-top: 0;
		}
	}

	h3 {
		margin: 2rem 0 1rem;
		@extend .title-md;

		&:first-child {
			margin-top: 0;
		}
	}

	h4 {

		margin: 2rem 0 1rem;
		@extend .title-sm;

		&:first-child {
			margin-top: 0;
		}
	}

	p {
		a {
			color: #1570ef;
		}

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	ul,
	ol {
		margin: 0 0 1.5em;

		@media screen and (max-width: $md4) {
			margin-bottom: 1.2em;
		}

		&:last-child {
			margin-bottom: 0;
		}

		li {
			position: relative;
			padding-left: 2.2rem;

			&:not(:last-child) {
				margin-bottom: 0.25rem;
			}

			&::before {
				content: "";
				display: block;
				position: absolute;
				left: 0.3em;
			}
		}
	}

	ul {
		li {
			&::before {
				width: 0.25rem;
				height: 0.25rem;
				top: 0.7em;
				background: $accent;
				border-radius: 50%;
			}
		}
	}

	ol {
		counter-reset: i;

		li::before {
			counter-increment: i;
			content: counter(i) ".";
			top: 0;
		}
	}

	a {
		&:not(.article__more, .btn) {
			color: #1570ef;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	& cite,
	& blockquote {
		margin: 1.5rem 0 2rem;
		padding: 1.125rem;
		border-radius: 0.5rem;
		background: #f5f5f5;
		color: #181d27;
		font-weight: 600;
		line-height: 155.556%;
		display: block;
		font-size: 1.125rem;
		padding-left: rem(42);
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 1.125rem;
			left: rem(18);
			bottom: 1.125rem;
			width: rem(4);
			background: $accent;
		}
	}

	& figure {
		margin: 3rem 0 2rem;

		&:last-child {
			margin-bottom: 0;
		}

		&:first-child {
			margin-top: 0;
		}

		& figcaption {
			margin-top: 1rem;
			margin-bottom: 0;
			color: #414651;
			font-size: 0.875rem;
			line-height: 142.857%;
		}
	}

	.wp-block-columns {
		margin: 3rem 0 2rem;
		gap: rem(12) !important;

		.wp-block-column {
			display: flex;
			flex-direction: column;

			&:last-child {
				& figcaption {
					text-align: right;
				}
			}

			& figure {
				flex: 1 1 auto;
				display: flex;
				flex-direction: column;
				margin: 0;

				& img {
					width: 100%;
					height: 100%;
					flex: 1 1 auto;
					object-fit: cover;
				}
			}
		}
	}

	.wp-block-image {
		& img {
			width: 100% !important;
			height: 100% !important;
		}
	}
}