@font-face {
    font-family: 'icons';
    font-display: swap;
    src: url("../fonts/icons.woff2?v=1777051796454") format("woff2"), url("../fonts/icons.woff?v=1777051796454") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url("../fonts/Rubik-VariableFont_wght.woff2?v=1777051796454") format("woff2 supports variations"),
        url("../fonts/Rubik-VariableFont_wght.woff2?v=1777051796454") format("woff2-variations"),
        url("../fonts/Rubik-VariableFont_wght.woff?v=1777051796454") format("woff");
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}