@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";


.footer {
	display: flex;
	flex-direction: column;
	background: #3F3F3F;
	color: #898989;
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 0.03em;
	transition: color 0.3s ease;

	@media (min-width: $md4) {
		display: block;
		background: #393A3E;
		color: #8C8D91;
		line-height: 1.4;
	}

	// .footer__top
	&__top {
		order: 2;
		background: #363636;
		padding: 1.875rem 0;
		border-bottom: 0;

		@media (min-width: $md4) {
			order: initial;
			background: transparent;
			padding: 4.375rem 0;
			border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.05);
		}
	}

	// .footer__top-container
	&__top-container {
		display: flex;
		flex-direction: column;
		gap: 1.875rem 0.625rem;

		.footer__column:nth-child(1) {
			order: 3;
		}

		.footer__column:nth-child(2) {
			order: 4;
		}

		.footer__column:nth-child(3) {
			order: 2;
			justify-self: start;
		}

		.footer__column:nth-child(4) {
			order: 1;
		}

		@media (min-width: $md4) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 3.125rem;

			.footer__column {
				order: initial !important;
			}

			.footer__column:nth-child(3),
			.footer__column--cta {
				grid-column: 1 / -1;
			}
		}



		@media (min-width: $md3) {
			grid-template-columns: 1fr 1fr 1fr 1.3fr;
			gap: 2.5rem;

			.footer__column:nth-child(3),
			.footer__column--cta {
				grid-column: auto;
			}
		}
	}

	// .footer__column
	&__column {
		&.footer__column--cta {
			p {
				margin-bottom: 0.625rem;
				max-width: 12.25rem;

				br {
					display: none;
				}

				@media (min-width: $md4) {
					margin-bottom: 1.5625rem;
					max-width: none;

					br {
						display: inline;
					}
				}
			}
		}
	}

	// .footer__btns
	&__btns {
		display: flex;
		gap: 0.625rem;
		flex-wrap: wrap;
		width: 100%;

		@media (min-width: $md4) {
			gap: 0.9375rem;
			width: auto;
		}
	}

	// .footer__menu
	&__menu {}

	// .footer__menu-list
	&__menu-list {
		display: flex;
		flex-direction: column;
		gap: 0.3125rem;

		li {
			margin-bottom: 0;
		}

		a {
			display: block;
			transition: color 0.3s ease;

			&:hover {
				color: #FFFFFF;
			}
		}

		@media (min-width: $md4) {
			gap: 0;

			li {
				margin-bottom: 1rem;
			}

			a {
				display: inline;
			}
		}
	}

	// .footer__caption
	&__caption {
		font-weight: 700;
		font-size: 1rem;
		color: #FFFFFF;
		margin: 0 0 0.625rem;

		@media (min-width: $md4) {
			font-size: 1.25rem;
			margin-bottom: 1.5625rem;
		}
	}

	// .footer__socials
	&__socials {
		display: flex;
		align-items: center;
		gap: 0.75rem;

		.socials__item {
			width: 2.1875rem;
			height: 2.1875rem;
		}
	}

	// .footer__reqs
	&__reqs {
		display: flex;
		flex-direction: column;
		gap: rem(10);
	}

	// .footer__contacts
	&__contacts {}

	// .footer__contacts-item
	&__contacts-item {
		display: flex;
		align-items: flex-start;
		gap: 0.5rem;
		margin-bottom: 0.3125rem;

		&::before {
			width: 1.25rem;
			height: 1.25rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			font-size: 1rem;
		}

		&.icon-phone-fill::before {
			color: #60D669;
		}

		&.icon-envelope-fill::before {
			font-size: 0.75rem;
			color: #FFB300;
		}

		&.icon-location::before {
			font-size: 1.25rem;
			color: #E53935;
		}

		@media (min-width: $md4) {
			gap: 0.75rem;
			margin-bottom: 1rem;
		}
	}

	// .footer__contacts-link
	&__contacts-link {
		transition: color 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				color: #FFFFFF;
			}
		}
	}

	// .footer__middle
	&__middle {
		order: 1;
		padding: 1.25rem 0 1.5rem;
		background: #3F3F3F;

		@media (min-width: $md4) {
			order: initial;
			padding: 3.75rem 0;
		}
	}

	// .footer__middle-container
	&__middle-container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.875rem 0.875rem;

		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
			gap: 3.125rem;

		}

		@media (min-width: $md3) {
			grid-template-columns: 1.2fr 2fr;
			gap: 3.75rem;
		}
	}

	// .footer__middle-side
	&__middle-side {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(40);
	}

	// .footer__payments 
	&__payments {
		display: flex;
		align-items: center;
		gap: 1.25rem;
	}

	// .footer__bottom
	&__bottom {
		order: 3;
		background: #3F3F3F;
		padding: 1.375rem 0;
		border-top: none;

		@media (min-width: $md4) {
			order: initial;
			background: #313236;
			padding: 1.5625rem 0;
		}
	}

	// .footer__bottom-container
	&__bottom-container {
		display: flex;
		flex-direction: column;
		text-align: left;
		gap: 0.75rem;

		p {
			color: #C3C3C3;
			font-size: 1rem;
			font-weight: 300;
			letter-spacing: 0.03rem;

			br {
				display: none;
			}

			@media (min-width: $md4) {
				color: #6C6D70;

				br {
					display: inline;
				}
			}
		}

		@media (min-width: $md4) {
			flex-direction: row;
			justify-content: space-between;
			gap: 2.5rem;
		}
	}
}