%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}



.icon-dislike:before {
	content: "\e910";
}

.icon-like:before {
	content: "\e911";
}

.icon-copy:before {
	content: "\e912";
}

.icon-calendar:before {
	content: "\e90f";
}

.icon-arrows:before {
	content: "\e90e";
}

.icon-zoom:before {
	content: "\e90d";
}

.icon-envelope-fill:before {
	content: "\e907";
}

.icon-location:before {
	content: "\e908";
}

.icon-max:before {
	content: "\e909";
}

.icon-phone-fill:before {
	content: "\e90a";
}

.icon-telegram:before {
	content: "\e90b";
}

.icon-vk:before {
	content: "\e90c";
}

.icon-check-circle:before {
	content: "\e906";
}

.icon-clock:before {
	content: "\e903";
}

.icon-size:before {
	content: "\e904";
}

.icon-team:before {
	content: "\e905";
}

.icon-envelope:before {
	content: "\e902";
}

.icon-chevron-down:before {
	content: "\e900";
}

.icon-phone:before {
	content: "\e901";
}